<!-- Written with help from ChatGPT -->

{% extends "base.html" %}
{% block title%}Home{% endblock %}
{% block content %}
<nav class="navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Your Tasks</a>
        <button type="button" class="btn btn-primary"><a href="add">+ Add Task</a></button>
    </div>
</nav>

<div class="container mt-5">
<hr>
{% for task in tasks %}
    <div class="row mb-3">
        <div class="col">{{task.task_name}}</div>
        <div class="col">{{task.time_needed}} minutes</div>
        <div class="col">Do by {{task.due_date}}</div>
        <div class="col">
        <form method="post">
            <input type="hidden" name="task-id" value="{{task.id}}">
            <button type="submit" class="btn btn-outline-primary me-2">Clear Task</button>
        </form>
        <form method="get" action="/edit">
            <input type="hidden" name="task-id" value="{{task.id}}">
            <button type="submit" class="btn btn-outline-primary">Edit Task</button>
        </form>
        </div>
    </div>
    <hr>
{% endfor %}
</div>
{% endblock %}